@import "tailwindcss";

@theme {
  --color-dark: #1b1b1b;
  --dark-accent: #333333;
  --color-light: #fbfbfb;
  --color-accent: #d7ff00;
  --color-accent-bg: #fcffeb;

  --font-primary: "Funnel Display", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  font-family: var(--font-primary);
}

@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}
